.faqs{
    background-image: url("/images/background-faqs.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.questions-container{
    background-color: white;
    padding: 2em 5em;
    border-radius: 25px;
    
}

.questions-container h2{
    text-align: center;
}

.questions-container details {
    padding: 2em;
    padding-left: 0;
    border-bottom: 2px solid #dddddd;
    transition: all .5s ease;

} 


details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }