.main{
    display: flex;
    overflow: hidden;
    position: relative;
    height: 100vh;
    min-height:48em;
    color:white
}
.header-logo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 2em;
}
.main--logo{
    height: 2.5em;
    width: auto;
    padding: 2em;
}
.main--img{
    width: 60%;
    position: relative;
    z-index:3 ;
}
.main--img .main-guy{
   width:115%;
    z-index: 2;
   
}
.background-text{
    background-color:var(--colorGreen);
    text-align: center;
    min-height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;

}
.background-text h1{
    font-size: 4.5em;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    z-index: 2;

}
.background-text strong{
    background-color:var(--colorOrange);
    padding: 0 0.5em;
    font-size: 0.6em!important;
    font-weight: 500;
}
.main--form{
    background-color:var(--colorOrange);
    background-image: url("/images/background-form.svg");
    width: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle_main{
    width: 100%;
    height: 75%;
    border-radius: 50%;
    position: absolute;
    background-color: var(--colorYellow);
    top: 15%;
    z-index: 1;

}
.circleform{

   
    position: absolute;
    right: -50%;
}

.main--form form{
    margin: 0 auto;
    padding: 2.5em;
    z-index: 2;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 30%;
}

.main--form form h2{
    color: black;
    font-weight: 600;
    font-size: 1.75em;
    margin-bottom: .5em;
}

.main--form form input, .main--form form select{
    width: 100%;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid var(--colorBorderGrey);
    margin-bottom: 1em;
    box-sizing: border-box;
    max-height: 4em;
    min-height: 4em;
    font-size: 1em;
    color: var(--colorBorderGrey);
}
.main--form form label {
    color: var(--colorBorderGrey);
}
::-webkit-file-upload-button{
    display: none;
}
.terms{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}
.terms #terms{
    width: 50px;
    height: 50px;
    background-color: var(--colorBorderGrey);
    border: none;
    margin-right: 1em;
}

.terms label{
 font-size:0.75em ;
}
input[type="button"] {
    background-color: var(--colorbluesky);
    color: white!important;
    font-size: 1.5em;
    font-weight: 700;
    border: none!important;
    font-family: 'Jost', sans-serif;
}

@media screen and (max-width:1024px) {

    main .main--img{
        width: 50%;
    }
    
    main .main--form{
        width: 50%;
    }
    .main--img img{
        
        top: 10%;
    }
    .background-text strong{
        font-size: 0.5em!important;
    }

}

@media screen and (max-width:769px) {

    .background-text h1
    {
        font-size: 3.5em;
        text-align: center;
    }
    .background-text strong{
        font-size: 0.5em!important;
    }

    .main--img .main-guy{
        width: 140%;
    }
    .main--logo{
        margin-bottom: 3em;

    }

}

@media screen and (max-width:587px) {

   main{
    flex-direction: column;
    min-height: 83em!important
   }
   .main--logo {
    height: 3.5em;
}
   main .main--img, main .main--form{
    width: 100%;
   }
   .header-logo {
       display: flex;
       align-items: center;
   }
   .main--img .main-guy{
     width: 100%;
   }
   main .background-text{
        bottom: -19%
   }
   .main--form form {
        width: 70%;
        margin-top:15%;
        z-index: 3;
   }
   .main--form{
       height: -webkit-fill-available;

   }

   .background-text h1 {
    font-size: 4em;
}

}

@media screen and (max-width:375px) {
    main .background-text {
        bottom: -60%;
    }
    .background-text h1 {
        font-size: 3em;
    }
    .main--form form {

        margin-top:40%;
   }
}