
.header__positions{
    justify-content: space-between;
}

.header--buttons img{
    width: 1.9em;
    padding: 1em;
    border-radius: 50%;
    border: 1px solid var(--colorBorderGrey);
    margin-left: 1em ;
    cursor: pointer;
    transition: all .5s ease ;
}
.header--buttons img:hover{
    transform: scale(1.1);
    border-color: var(--colorGreen);
}
.header--titles p{
    color: var(--colorOrange);
}
.positions{
    position: relative;
}

.positions .circle{
    left: -10%;
}

.scroll-positions{
 display: flex;
 gap: 1em;
 overflow-x: scroll;
 scroll-behavior: smooth;
}
.scroll-positions:-webkit-scrollbar {
    display: none;
  }
.container-position{
    padding: 2em;
    border-radius: 20px;
    -webkit-box-shadow: 0px 28px 36px -10px rgba(228, 228, 228, 0.75);
    -moz-box-shadow: 0px 28px 36px -10px rgba(228, 228, 228, 0.75);
    box-shadow: 0px 28px 36px -10px rgba(228, 228, 228, 0.75);
    border: 0.5px solid #dddddd;
    position: relative;
    flex: 0 0 350px;
    margin-top: 3em;
    margin-bottom: 3em;
    transition: all .5s ease-in-out;
    background-color: white;
}
.container-position:hover{
    transform: scale(1.1);
    margin-left: 2em;
    margin-right: 2em;
    border-color: var(--colorGreen);
}
.container-position small{
    color: var(--colorBorderGrey);
    margin-bottom: 1em;
    font-size: 1.2em;
  
    
}
.container-position p{
    /*width: 85%;*/
}
.container-position h3, .container-position p,.container-position small{
    text-align: left;
}
.container-position .iconPosition{
    height: 4.18em;
    width:4.18em ;
    position: absolute;
    top: 5%;
    right: 5%;
    display: block;
}

.container-btn{
    text-align: center;
}
.container-btn a{
    border-radius: 25px;
    border: 1px solid #dddddd;
    color: var(--colorBlack);
    background-size: 0%;
    transition: all .5s ease;
}

.container-btn a:hover{
    background-color: var(--colorOrange);
    background-size: 100%; 
    color: white;
}